@font-face {
     font-family: RobotoRegular;
     src: url("RobotoRegular.woff");
}
@font-face {
     font-family: RobotoBold;
     src: url("RobotoBold.woff");
}
@font-face {
     font-family: TitilliumWebRegular;
     src: url("TitilliumWebRegular.woff");
}
@font-face {
     font-family: TitilliumWebBold;
     src: url("TitilliumWebBold.woff");
}
#guide {
    position: absolute;
    opacity: 1;
}
#frame1bg {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
}
#header-container {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    top: 0px;
    width: 225px;
    height: 100%;
    padding: 3px 0px 0px 0px;
    border-top-right-radius: 8px;
}
#logo-headline-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px 0px 0px 3px;;
}
#logo-wrapper {
    position: relative;
    padding-right: 5px;
}
#logo{
    height: 22px;
}
#text-wapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    width: 347px;
}
#headline-wrapper {
    position: relative;
}
#headline1, #headline2, #headline3 {
    margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    font-family: TitilliumWebBold;
    font-size: 12px;
    line-height: 110%;
    text-align: left;
    color: #fff;
}
#subheadline-wrapper {
    position: relative;
    top: 2px;
}
#subheadline1, #subheadline2, #subheadline3 {
    margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    font-family: TitilliumWebRegular;
    font-size: 7px;
    text-align: left;
    color: #fff;
}
#cta-container {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 95px;
    height: 50px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cta-wrapper {
    position: relative;
    top: 0px;
    right: 0px;
    border-radius: 11px;
    min-width: 65px;
    min-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
}
#cta {
    text-align: center;
    font-family: RobotoBold;
    font-size: 10px;
    letter-spacing: 0.02em;
    color: #fff;
}
#legal-wrapper {
    position: relative;
    width: 100%;
    padding: 2px 4px 3px 4px;
}
#legal {
    text-align: left;
    font-family: RobotoRegular;
    font-size: 4px;
    color: #fff;
    line-height: 110%;
}