@font-face {
    font-family: 'Matter SQ Reg';
    src: url('MatterSQ-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter SQ Med';
    src: url('MatterSQ-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

#red-BG{
    position: absolute;
    bottom: 26px;
    left: 0;
    background: #E01B1C;
    width: 970px;
    height: 56px;

}

#logoContainer{
    position: absolute;
    bottom: 36px;
    right: 20px;
    width: 126px;
    height: 36px;
}

#brand-logo{
    position: absolute;
    right: 0;
    top: 0;
    max-width:100%;
    max-height:100%;
}

#sublogo2Container{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 84px;
    height: 14px;
}

#sub-logo2{
    position: absolute;
    top: 0px;
    right: 0px;
    max-width:100%;
    max-height:100%;
}

#sub-logo2white{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 59px;
    height: 12px;
    opacity: 0;
}

#boilerplate{
    position: absolute;
    width: 123px;
    height: 22px;
    /* left: 440px; */
    right:405px;
    bottom: 158px;
}

#headline1-bg{
    position: absolute;
    bottom: 82px;
    left: 0px;
    height: 100%;
    width: 535px;
    background: #E2ECED;
    transform-origin: bottom left;
}

#headline1-wrapper {
    position: absolute;
    bottom: 107px;
    left: 20px;
    width: 380px;
    height: 77px;
}

#headline1{
    position: absolute; 
    bottom: 10px;
    left: 0;
    width: auto;
    height: auto;
    font-family: 'Matter SQ Med';
    color: #002954;
    font-size: 35px;
    line-height: 1em;
    letter-spacing: -0.01em;
}

#headline2-bg{
    position: absolute;
    bottom: 82px;
    left: 0px;
    height: 100%;
    width: 535px;
    background: #002954;
    transform-origin: bottom left;
}

#headline2-wrapper {
    position: absolute;
    bottom: 107px;
    left: 20px;
    width: 380px;
    height: 77px;

}

#headline2{
    position: absolute;
    bottom: 10px;
    left: 0;
    width: auto;
    height: auto;
    font-family: 'Matter SQ Med';
    color: #fff;
    font-size: 35px;
    line-height: 1em;
    letter-spacing: -0.01em;
}


#headline3-bg{
    position: absolute;
    bottom: 82px;
    left: 0px;
    height: 100%;
    width: 584px;
    background: #002954;
    transform-origin: bottom left;
}

#headline3-wrapper {
    position: absolute;
    bottom: 107px;
    left: 20px;
    width: 380px;
    height: 77px;
}

#headline3{
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    font-family: 'Matter SQ Med';
    color: #fff;
    font-size: 21px;
    line-height: 1em;
    letter-spacing: -0.01em;
}

/*#ctaText{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 440px;
    bottom: 117px;
    height: 100%;
    color: #fff;
    min-width: 124px;
    max-height: 26px;
    font-size: 14px;
    background: #67C058;
    padding: 0px 28px 2px 28px;
    font-family: 'Matter SQ Med';
}*/

#cta-wrapper{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* left: 440px; */
    right:405px;
    bottom: 117px;
    max-width: 156px;
    min-width:123px;
    min-height: 26px;
    background: #67C058;
}

#ctaTextParent {
     position:relative;
     width:100%;
     height:100%;
     max-height: 30px;
}

#ctaText{
    position: relative;
    text-align: center;
    height: auto;
    width: auto;
    color: #fff;
    font-size: 14px;
    line-height: 1em;
    padding: 2px 20px 4px 20px;
    font-family: 'Matter SQ Med';
    justify-content: center;
    display: flex;

}

#ctaContainer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 610px;
    height: 100%;
    width: 20%;
    background: transparent;
}

#lastframe-cta-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 135px;
    max-width:156px;
    min-width:123px;
    min-height:26px;
    background: #67C058;
}

#lastframe-ctaTextParent {
     position:relative;
     width:100%;
     height:100%;
     max-height: 30px;
}

#lastframe-ctaText{
    position: relative;
    vertical-align:middle;
    text-align: center;
    height: auto;
    width: auto;
    color: #fff;
    font-size: 14px;
    line-height: 1em;
    padding: 2px 20px 4px 20px;
    font-family: 'Matter SQ Med';
    justify-content: center;
    display:flex;

}

#disc-wrapper{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0px;
    width: 970px;
    height: auto;
    min-height: 26px; 
    max-height: 45px;
    left: 0px;
    background-color: #fff;
    z-index: 999;
}

#disclaimerText{
    position: static;
    font-family: 'Matter SQ Med';
    padding: 5px 20px 5px 20px;
    width: 930px;
    height: auto;
    font-size: 14px;
    line-height: 1.200em;
    text-align: left;
    color: #002954;
}

#extralegal-bg{
    background: #002954;
    transform-origin: bottom left;
}

#extralegal-wrapper{
    position: absolute;
    width: 855px;
    height: 100px;
    left: 20px;
    bottom: 92px;
}

#legalText{
    font-family: 'Matter SQ Med';
    width: auto;
    height: auto;
    font-size: 12px;
    line-height: 1.200em;
    text-align: left;
    color: #fff;
}

/***************************************************

DO NOT MODIFY ANYTHING BELOW

***************************************************/
.mainContent {
    position: absolute;
    overflow:hidden;
    border: 1px solid black;
    transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-style: preserve-3d;
    width:970px;
    height:250px;
}
.exitButton {
    position: relative;
    width:100%;
    height:100%;
    z-index: 999; /* in case there would be a button above the exitButton change this z-index*/
    cursor: pointer;
}
p {
     margin: 0px;
}

.wrap-100{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.is-img-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.is-center{
    display: flex;
    align-items: center;
    justify-content: center;
}