@font-face {
     font-family: MontBold;
     src: url("Mont-Bold.woff");
}
@font-face {
     font-family: SSTMed;
     src: url("SST-Medium.woff2");
}
img{
	border: 0
}

button,div,img,svg,video{
	position: absolute
}

.retina {
     /*    for display on retina screens images created @2x actual dimensions then scaled back by 50%.
     images are scaled from top left, which effects css when wanting to use other alignment
     e.g. bottom:0; right:0; also requires transform-origin:bottom right;
     02/2016 webkit browsers:
     images including their containers must be block or inline-block.
     if css display:none or display:inline then transforms fail.
     */
     -webkit-transform: scale(0.5, 0.5);
     -moz-transform: scale(0.5, 0.5);
     -ms-transform: scale(0.5, 0.5);
     transform: scale(0.5, 0.5);
     -webkit-transform-origin: left top;
     -moz-transform-origin: left top;
     -ms-transform-origin: left top;
     transform-origin: left top;
   
     /* image-rendering: auto; */
     /*image-rendering: crisp-edges;*/
   }
   
   
   .hidden{
        visibility: hidden;
   }

   .btn{
	position: absolute;
	top:0px;
	left:0px;
	cursor: pointer;
	/*background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");*/
	z-index: 200;
}


:focus{outline: 0}

::-moz-focus-inner{border: 0}


#t1 {
     position: absolute;
     width:190px;
     height:31px;
     left:498px;
     top:30px;
     display:flex;
     align-items: center;
     justify-content: center;
}
#t1Content {
     position: absolute;
     font-family: MontBold;
     font-size:15px;
     line-height: 1em;
     letter-spacing: 0px;
     text-align: center;
     width:auto;
     color:white;
}
#t2 {
     position: absolute;
     width:256px;
     height:36px;
     left:440px;
     top:8px;
     display:flex;
     align-items: center;
     justify-content: center;
}
#t2Content {
     position: absolute;
     font-family: MontBold;
     font-size:11px;
     line-height: 1em;
     letter-spacing: 0px;
     text-align: center;
     width:auto;
     color:white;
}
#cta {
     position: absolute;
     width:130px;
     height:28px;
     left:503px;
     top:51px;
     display:flex;
     align-items: center;
     justify-content: center;
     background-color: #CD3D0E;
}
#ctaContent {
     position: absolute;
     font-family: SSTMed;
     font-size:11px;
     line-height: 1em;
     letter-spacing: 0px;
     text-align: center;
     width:auto;
     color:white;
     top:8px;
}