@font-face {
     font-family: VerizonNHGDSBold;
     src: url("VerizonNHGDSBold.woff");
}
@font-face {
     font-family: VerizonNHGDSRegular;
     src: url("VerizonNHGDSRegular.woff");
}
#guide {
    opacity: 0;
}
#frame1bg {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
}
#header-container {
    position: absolute;
    top: 0px;
    width: 100%;
    min-height: 250px;
    max-height: 350px;
    padding: 16px 16px 16px 16px;
    border-bottom-right-radius: 16px;
    background-color: white;
}
#logo-wrapper {
    display: flex;
    justify-content: center;
    margin: 0px 0px 16px 0px;
}
#logo {
    height: 32px;
}
#headline-wrapper {
    position: relative;
    margin: auto;
    margin: 0px 0px 15px 0px;
}
#subheadline-wrapper{
    margin: auto;
    margin: 0px 0px 15px 0px;
}
#subheadline2-wrapper {
    margin: 0px 0px 15px 0px;
}
#headline1, #headline2, #headline3 {
    margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 26px;
    line-height: 110%;
    text-align: center;
    color: #231f20;
}
#subheadline1 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 110%;
    text-align: center;
    color: #231f20;
}
#subheadline2 {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    line-height: 110%;
    text-align: center;
    color: #231f20;
}
#cta-container {
    display: flex;
    justify-content: center;
    perspective: 1000px;
}
#cta-wrapper {
    border-radius: 22px;
    background-color: red;
    min-width: 156px;
    min-height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 15px;
}
#cta {
    text-align: center;
    /*padding: 12px 26px 12px 26px;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: white;
}
#footer-container {
    position: absolute;
    width: 300px;
    height: auto;
    bottom: 0px; 
}
#disclaimer {
    position: relative;
    text-align: center;
    padding: 7px 7px 7px 7px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: white;
    line-height: 110%;
    background-color: rgb(0, 0, 0, 0.2);
}