@font-face {
     font-family: PeacockBlack;
     src: url("PeacockSans-Black.woff2");
}
@font-face {
     font-family: PeacockBold;
     src: url("PeacockSans-Bold.woff2");
}
@font-face {
     font-family: PeacockBook;
     src: url("PeacockSans-Book.woff2");
}
@font-face {
     font-family: PeacockLight;
     src: url("PeacockSans-Light.woff2");
}
@font-face {
     font-family: PeacockMedium;
     src: url("PeacockSans-Medium.woff2");
}

#mainContent {
     background-color: #FCCC12;
}
#image1Content {
     position: absolute;
     width:290px;
     height:397px;
     left:0px;
     top:0px;
}
/**************************************** LEGAL CONTENT */
#legalContent {
     position: absolute;
     width: 243px;
     height:10px;
     left: 29px;
     bottom: 4px;
     text-align: center;
     color: white;
     opacity:0.7;
     font-family: PeacockLight;
     font-size:8px;
     line-height: 8px;
     letter-spacing: -0.15px;
}
/**************************************** CTA CONTENT */
#ctaContainer {
     position: absolute;
     width: 180px;
     height: 27px;
     left:60px;
     bottom: 24px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #FCCC12;
     border-radius: 4px;
}
#ctaContent {
     font-family: PeacockBold;
     font-size: 14px;
     line-height: 14px;
     color: black;
     text-align: center;
     width:100%;
}
/**************************************** BOTTOM CONTENT */
.bottomContent {
     opacity:0;
}
.bottomContent_A {
     position: absolute;
     width:290px;
     height:188px;
     left:5px;
     top:407px;
     border-radius: 6px;
     background-color: #000000;
     opacity:1;
}
.bottomContent_B {
     position: absolute;
     width:290px;
     height:224px;
     left:5px;
     top:371px;
     border-radius: 6px;
     background-color: #000000;
     opacity:1;
}
/**************************************** TOP SINGLE CONTENT */
.topSingleContent {
     overflow: hidden;
     opacity:0;
}
.topSingleContent_A {
     position: absolute;
     width:290px;
     height:397px;
     left:5px;
     top:5px;
     border-radius: 6px;
     opacity:1;
}
.topSingleContent_B {
     position: absolute;
     width:290px;
     height:361px;
     left:5px;
     top:5px;
     border-radius: 6px;
     opacity:1;
}
#showTitleContent {
     position: absolute;
     width: 238px;
     height:auto;
     left:30px;
     bottom:7px;
     font-family: PeacockBold;
     font-size: 10px;
     line-height: 10px;
     letter-spacing: -0.05px;
     color:white;
     text-align: center;
     opacity:0.85;
}
#spineContent {
     position: absolute;
     left:134px;
     height:5px;
     width:34px;
     opacity: 1;
}
#backGradientContent {
     position: absolute;
     width:290px;
     left:0px;
     bottom:0px;
     background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
     opacity:1;     
}
/**************************************** TOP MULTIPLE CONTENT */
#topMultipleContent {
    perspective: 1000px;
}
.topMultipleContent {
     overflow: hidden;
     opacity:0;
     position: absolute;
     width:290px;
     left:5px;
     top:5px;
}
.topMultipleContent_A {
     height:397px;
     opacity:1;
}
.topMultipleContent_B {
     height:361px;
     opacity:1;
}
/**************************************** TOP MULTIPLE CONTENT 1 */
.show1Container {
     overflow: hidden;
     opacity:0;  
     position: absolute;
     width:290px;  
     left:0px;
     border-radius: 6px;
}
.show1Container_A {
     height:129px; 
     top:0px;
     opacity:1;  
}
.show1Container_B {
     height:117px; 
     top:0px;
     opacity:1;  
}
/**************************************** TOP MULTIPLE CONTENT 2 */
.show2Container {
     overflow: hidden;
     opacity:0;  
     position: absolute;
     width:290px;  
     left:0px;
     border-radius: 6px;
}
.show2Container_A {
     height:129px;
     top:134px;
     opacity:1;  
}
.show2Container_B {
     height:117px;
     top:122px;
     opacity:1;  
}
/**************************************** TOP MULTIPLE CONTENT 3 */
.show3Container {
     overflow: hidden;
     opacity:0;  
     position: absolute;
     width:290px;  
     left:0px;
     border-radius: 6px;
}
.show3Container_A {
     height:129px;
     top:268px;
     opacity:1;  
}
.show3Container_B {
     height:117px;
     top:244px;
     opacity:1;  
}
/**************************************** TOP SHOW TITLE CONTENT 1 */
#showTitle1Content {
     position: absolute;
     width: 238px;
     height:auto;
     left:30px;
     bottom:7px;
     font-family: PeacockBold;
     font-size: 10px;
     line-height: 10px;
     letter-spacing: -0.05px;
     color:white;
     text-align: center;
     opacity:0.85;
}
/**************************************** TOP SHOW TITLE CONTENT 2 */
#showTitle2Content {
     position: absolute;
     width: 238px;
     height:auto;
     left:30px;
     bottom:7px;
     font-family: PeacockBold;
     font-size: 10px;
     line-height: 10px;
     letter-spacing: -0.05px;
     color:white;
     text-align: center;
     opacity:0.85;
}
/**************************************** TOP SHOW TITLE CONTENT 3 */
#showTitle3Content {
     position: absolute;
     width: 238px;
     height:auto;
     left:30px;
     bottom:7px;
     font-family: PeacockBold;
     font-size: 10px;
     line-height: 10px;
     letter-spacing: -0.05px;
     color:white;
     text-align: center;
     opacity:0.85;
}
#spine1Content {
     position: absolute;
     left:134px;
     height:5px;
     width:34px;
     opacity: 1;
}
#spine2Content {
     position: absolute;
     left:134px;
     height:5px;
     width:34px;
     opacity: 1;
}
#spine3Content {
     position: absolute;
     left:134px;
     height:5px;
     width:34px;
     opacity: 1;
}
.backGradientContent1 {
     position: absolute;
     width:290px;
     left:0px;
     bottom:0px;
     background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
     opacity:1;     
}
.backGradientContent2 {
     position: absolute;
     width:290px;
     left:0px;
     bottom:0px;
     background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
     opacity:1;     
}
.backGradientContent3 {
     position: absolute;
     width:290px;
     left:0px;
     bottom:0px;
     background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
     opacity:1;     
}
/**************************************** LOGO IMAGE */
.logoContent {
     position: absolute;
     width:238px;
     height:73px;
     left:31px;
     opacity:0;
}
.logoContent_A {
     top:17px;
     opacity:1;
}
.logoContent_B {
     top:20px;
     opacity:1;
}
/**************************************** HEADLINE CONTENT */
.frame1HeadlineContainer {
     position: absolute;
     width: 269px;
     height: 20px;
     left:15px;
     display: flex;
     align-items: center;
     justify-content: center;
}
.frame1HeadlineContainer_A {
     top: 110px;
}
.frame1HeadlineContainer_B {
     top: 117px;
}
#frame1HeadlineContent {
     font-family: PeacockBlack;
     font-size: 16px;
     line-height: 16px;
     color: #FCCC12;
     text-align: center;
     width:100%;
}
/**************************************** SUBHEADLINE CONTENT */
.frame1SubheadlineContainer {
     position: absolute;
     width: 258px;
     height: 20px;
     left:21px;
     display: flex;
     align-items: center;
     justify-content: center;
}
.frame1SubheadlineContainer_A {
     display:none;
}
.frame1SubheadlineContainer_B {
     top: 140px;
}
#frame1SubheadlineContent {
     font-family: PeacockBook;
     font-size: 16px;
     line-height: 16px;
     color: white;
     text-align: center;
     width:100%;
}