@font-face {
     font-family: VerizonNHGDSBold;
     src: url("VerizonNHGDSBold.woff");
}
@font-face {
     font-family: VerizonNHGDSRegular;
     src: url("VerizonNHGDSRegular.woff");
}
#guide {
    position: absolute;
    opacity: 0.5;
}
#frame1bg {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
}
#panel-white {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 585px;
    height: 100%;
    border-top-right-radius: 20px;
    background-color: #ffffff;
}
#header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    top: 0px;
    width: 100%;
    height: 100%;
    padding-top: 15px;
}
#logo-wrapper {
    position: relative;
    margin-left: 16px;
}
#logo {
    height: 40px;
}
#headline-wrapper {
    margin-top: -5px;
}
#headline-wrapper, #subheadline-wrapper, #subheadline2-wrapper {
    margin-left: 16px;
    padding-right: 16px;
    width: 570px;
}
#headline1, #headline2, #headline3 {
    margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 32px;
    line-height: 110%;
    text-align: left;
    color: #231f20;
}
#subheadline1 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 110%;
    text-align: left;
    color: #231f20;
}
#subheadline2 {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    line-height: 110%;
    text-align: left;
    color: #231f20;
}
#cta-container {
    position: absolute;
    top: 16px;
    left: 429px;
    perspective: 1000px; 
}
#cta-wrapper {
    border-radius: 22px;
    background-color: red;
    min-width: 140px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
}
#cta {
    text-align: center;
    /*padding: 11px 22px 11px 22px;*/
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: white;
}
#footer-container {
    position: relative;
    width: 585px;
    height: auto;
    bottom: 0px; 
}
#disclaimer {
    text-align: left;
    padding: 10px 16px 10px 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: white;
    line-height: 110%;
    /*background-color: rgb(0, 0, 0, 0.4);*/
}