@font-face {
     font-family: RobotoRegular;
     src: url("RobotoRegular.woff");
}
@font-face {
     font-family: RobotoBold;
     src: url("RobotoBold.woff");
}
@font-face {
     font-family: TitilliumWebRegular;
     src: url("TitilliumWebRegular.woff");
}
@font-face {
     font-family: TitilliumWebBold;
     src: url("TitilliumWebBold.woff");
}
#guide {
    position: absolute;
    opacity: 0.5;
}
#frame1bg {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
}
#header-container {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    top: 0px;
    width: 578px;
    height: 100%;
    padding: 9px 0px 0px 0px;
    border-top-right-radius: 16px;
}
#logo-headline-wrapper {
    display: flex;
    flex-direction: row;
    padding: 0px 0px 0px 7px;;
}
#logo-wrapper {
    position: relative;
    padding-right: 11px;
}
#logo{
    height: 48px;
}
#text-wapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    width: 347px;
}
#headline-wrapper {
    position: relative;
}
#legal-wrapper {
    position: relative;
    padding: 6px 7px 6px 7px;
}
#headline1, #headline2, #headline3 {
    margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    font-family: TitilliumWebBold;
    font-size: 19px;
    line-height: 110%;
    text-align: left;
    color: #fff;
}
#subheadline1, #subheadline2, #subheadline3 {
    margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    font-family: TitilliumWebRegular;
    font-size: 12px;
    text-align: left;
    color: #fff;
}
#bg-subheadline2 {
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
#cta-container {
    position: absolute;
    top: 12px;
    right: 162px;
    perspective: 1000px; 
}
#cta-wrapper {
    border-radius: 16px;
    min-width: 110px;
    min-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}
#cta {
    text-align: center;
    font-family: RobotoBold;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #fff;
}

#legal, #legal2 {
    text-align: left;
    font-family: RobotoRegular;
    font-size: 8px;
    color: #fff;
    line-height: 110%;
}